{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <h1 class="text-center">{{'titre.panier.h1' | trans }}</h1>
    {% if paniers is not empty %}
    <table class="table">
        <thead>
            <tr>
                <th>{{'table.produit' | trans }}</th>
                <th>{{'table.qte' | trans }}</th>
                <th>{{'table.action' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for panier in paniers %}
                <tr>
                    <td>{{ panier.produit }}</td>
                    <td>{{ panier.quantité }}</td> 
                     <button type="button" class="btn btn-danger">
                        <a class="text-decoration-none text-white" >
                            {{'sup' | trans }}
                        </a>
                    </button>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-center">{{'msg.panier' | trans }}</p>
    {% endif %}

{% endblock %}
