{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <h1 class="text-center">{{'titre.panier.h1' | trans }}</h1>
    {% if paniers is not empty %}
    <table class="table">
        <thead>
            <tr>
                <th>{{'table.produit' | trans }}</th>
                <th>{{'table.qte' | trans }}</th>
                <th>{{'table.action' | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for panier in paniers %}
                <tr>
                    <td>{% for paniers in panier.panier %}
                        je n'arrive pas a afficher
                        {% endfor %}
                    </td>
                    <td>{{ panier.quantite }}</td>
                    <td>
                        <button type="button" class="btn btn-danger">
                            <a class="text-decoration-none text-white"  href="{{path('delete_produit_panier', {'id': panier.id})}}">
                                {{'sup' | trans }}
                            </a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-center">{{'msg.panier' | trans }}</p>
    {% endif %}

{% endblock %}
